.tag {

    &__text {
        margin: 0;
        font-size: 14px;
        font-weight: 500;

        @media screen and (max-width: 650px) {
            font-size: 10px !important;
            font-weight: 500;
        }
    }
}