

.banner {
    border-radius: 25px;
    position: relative;
    margin: 20px 0;
    width: 90%;
    left: 5%;

    .overlay {
        background-color: black;
        position: absolute;
        top: 0;
        border-radius: inherit;
        height: 98%;
        width: 100%;
        opacity: 0.3;
    }

    img {
        height: 100%;
        border-radius: inherit;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

    .head-line {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        justify-content: center;
        transform: translate(-50%, -50%);
        margin-top: 0;
        font-size: 48px;
        width: 100%;
        display: flex;
        font-weight: 500;
        text-align: start;

        @media only screen and (max-width: 320px) {
            font-size: 48px;

            &::before {
                content: "\a";
                white-space: pre;
            }

            margin: 0;
            line-height: 1.5;
        }

        @media only screen and (min-width: 321px) and (max-width: 768px) {
            font-size: 24px;
            max-width: 190px;
            display: block;
            left: 31%;
        }
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .banner img {
        height: 111px;
        filter: brightness(80%);
        border-radius: 10px;
    }
}