

.list-item {
   
    background-color: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 20px;
    position: relative;
    align-items: center;

    p {
        
        color: white;
        font-size: 18px;
        text-transform: capitalize;
    }

    .icon-wrapper svg {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    &.reverse svg {
        transform: rotate(180deg);
    }

    .icon-wrapper {
        cursor: pointer;
        height: auto;
        width: auto;
        

        &.reverse {
            transform: rotate(180deg);
        }
    
    }
    .collapse-icon-chevron{
    transform:rotate(180deg);
    }
  

    

    @media screen and (max-width: 768px) {

       
        p {
            font-size: 13px !important;
        }

        .collapsed-text {
            p {
                font-size: 15px;
                margin: 0%;
            }
        }

        .icon-wrapper svg {
            height: 15px !important;
            width: 14px !important;
        }

        .list-wrapper {
            width: 100%;
            top: -16px;
            left: 0;
        }
    }

    &.reverse svg {
        @media screen and (max-width: 650px) {
               
        transform: rotate(180deg);
        }
    }

    @media screen and (max-width: 761px) {
        width: 90%;

        .collapsed-text {
            width: 90%;
        }
    }
}