

.accomodationSheet__collapse,
.accomodationSheet__content {
    display: flex;
    justify-content: space-between;
}

.group-elements-bottom {
    display: flex;
    justify-content: space-between;
}

.group-element-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.group-elements-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;

    @media screen and (max-width: 650px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: inherit;
    }
}

.name-photo-wrapper {
    display: flex;

    @media screen and (max-width: 650px) {
        float: right;
    }
}

.list-item-accomodationSheet {
    width: 47%;
    .collapsed-text {
            color: #FF6060;
            background-color: #F6F6F6;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 4%;
            padding-bottom: 4%;
            border-radius: 5px;
            text-align: start;
    
            p {
                display: flex;
                flex-direction: column;
                font-size: 18px;
                margin:0;
                @media screen and (max-width: 650px) {
                        font-size: 12px;
                    }
            }
        }

    @media screen and (max-width: 650px) {
        width: 100%;
    }
}

.title {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;

    @media screen and (max-width: 650px) {
        font-size: 18px;
    }
}

.location {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 650px) {
        font-size: 14px;
    }
}

.host-photo {
    height: 64px;
    width: 64px;
    border-radius: 50%;

    @media screen and (max-width: 650px) {
        margin-top: 0px;
        height: 32px;
        width: 32px;
    }
}

.host-name {
    margin-top: 15px;
    margin-right: 10px;
    color: #ff6060;
    width: 85px;
    text-align: right;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 650px) {
        margin-top: inherit;
        font-size: 12px;
        width: 50px;
    }
}

.tags-list-wrapper {
    list-style: none;
    display: flex;
    margin-left: -10px;
    margin-top: 10px;
}

.tag {
    background-color: #ff6060;
    border-radius: 10px;
    text-align: center;
    padding: 5px 2px;
    color: white;
    margin: 8px;
    width: 185px;

    @media screen and (max-width: 650px) {
        width: inherit;
        font-size: 10px;
        padding: 5px 8px;
        border-radius: 10px;
    }
}

.accomodationSheet {
    margin: 0 5%;

    @media screen and (max-width: 650px) {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        .tags-list-wrapper {
                margin-top: inherit;
            }
    }

    @media screen and (max-width: 768px) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;

        .accomodationSheet__collapse {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 768px) {

    .left-icon svg,
    .right-icon svg {
        width: 48.68px;
        height: 79.2px;
        position: relative;
        top: 20px;
    }

    .left-icon svg {
        left: -60%;
    }

    .right-icon svg {
        right: -60%;
    }
}

@media screen and (max-width: 650px) {

    .left-icon svg,
    .right-icon svg {
        width: 20px;
        height: 20px;
    }

    .accomodationSheet__content {
        width: 100%;
        flex-direction: column;
    }
}